<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Tarefas</title>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>

<body>
  <div class="container" id="app">
    <div class="container mt-3">
      <h1>Lista de Tarefas</h1>
    </div>

    <div class="container mt-3">
      <form class="row g-2 align-items-center" @submit.prevent="adicionarTarefa">
        <div class="col">
          <input id="tarefa" type="text" name="tarefa" class="form-control" v-model="novaTarefa.descricao"
            placeholder="Adicionar tarefa" required>
        </div>
        <div class="col-auto">
          <input class="btn btn-primary" type="submit" value="Enviar">
        </div>
      </form>
    </div>

    <div class="container mt-3">
      <h2>Tarefas</h2>
      <ul class="list-group">
        <li style="cursor: pointer;" class="list-group-item d-flex justify-content-between align-items-center" :class="{
            'list-group-item': tarefa.situacao == 0,
            'list-group-item list-group-item-warning' : tarefa.situacao == 1,
            'list-group-item list-group-item-success' : tarefa.situacao == 2,
            'list-group-item list-group-item-danger' : tarefa.situacao == 3,
          }" v-for="(tarefa, index) in tarefas" :key="index" @click="modificaSituacao(tarefa)">
          {{ tarefa.descricao }}
          <span class="badge text-dark" v-if="tarefa.situacao == 0">TAREFA A FAZER</span>
          <span class="badge bg-warning text-dark" v-if="tarefa.situacao == 1">TAREFA SENDO FEITA</span>
          <span class="badge bg-success text-dark" v-if="tarefa.situacao == 2">TAREFA FEITA</span>
          <span class="badge bg-danger text-dark" v-if="tarefa.situacao == 3">TAREFA NÃO FOI FEITA OU CONCLUIDA</span>
        </li>
      </ul>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
    crossorigin="anonymous"></script>
  <script src="script.js"></script>
</body>

</html>
